<ion-menu side="start" menuId="first" contentId="principal">

    <ion-content>

        <div class="ion-header">


            <img src="../assets/mau.jpg" alt="Perfil">
            <h6>Mauricio Garduño</h6>
            <small>Expert</small>

        </div>

        <div class="opciones">

            <ion-button fill="clear" expand="full">
                Wallet
            </ion-button>

            <ion-button fill="clear" expand="full">
                Mi Targeta
            </ion-button>

            <ion-button fill="clear" expand="full">
                Historial de Transacciones
            </ion-button>

            <ion-button fill="clear" expand="full">
                Preferencias
            </ion-button>

            <ion-button fill="clear" expand="full">
                Ayuda
            </ion-button>
        </div>

    </ion-content>
</ion-menu>