<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" routerDirection="back" >
        <ion-icon slot="icon-only" color="dark" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmitInfoUser(validations_form.value)">
    <ion-item>
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Ingresa tu nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido:</ion-label>
      <ion-input type="text" formControlName="last" placeholder="Ingresa tu apellido"></ion-input>
    </ion-item>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Guardar</ion-button>
  </form>
</ion-content>