<ion-content fullscreen scroll-y="false">
    <ion-slides pager="true">
        <ion-slide>
            <div class="Rectngulo-1">
                <img class="minerva-circulo2" src="../../assets/Jalo/minerva-circulo.png" />
            </div>
            <h2 class="jalo-h1">Encuentra Lugares</h2>
            <p class="jalo-p">Explora y visita la ciudad con una gran variedad de propuestas turísticas..</p>
        </ion-slide>
        <ion-slide>
            <div class="Rectngulo-1">
                <img class="minerva-circulo2" src="../../assets/Jalo/estadio-circulo.png" />
            </div>
            <h2 class="jalo-h1">Mejora tu experiencia</h2>
            <p class="jalo-p">Una ruta totalmente especializada a tu forma de viajar.</p>
        </ion-slide>
        <ion-slide>
            <div class="Rectngulo-1">
                <img class="minerva-circulo2" src="../../assets/Jalo/catedral-circulo.png" />
            </div>
            <h2 class="jalo-h1">Comparte tus gustos</h2>
            <p class="jalo-p">E¿Viajas solo? Puedes compartir o buscar turistas con gustos similares en la ciudad.</p>
            <br>
        </ion-slide>
        <!-- <ion-slide>
            <div class="Rectngulo-1">
            <img src="../../assets/isometric/shop/star-rating.png" />
            </div>
            <h2>¿Estas listo?</h2>
            <ion-button expand="block" fill="clear" [routerLink]="'/login/'" routerDirection="forward">Comenzar
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-slide> -->
    </ion-slides>

    <ion-button class="ion-padding" expand="block" shape="round" [routerLink]="'/login/'" routerDirection="forward">Inicia sesión</ion-button>
    <ion-button class="ion-padding" expand="block" shape="round" [routerLink]="'/register/'" routerDirection="forward" fill="outline">Resgistrarme</ion-button>

</ion-content>