ion-content {
    --background: #0d0d21;
}

.Group {
    width: 328px;
    height: 168px;
    object-fit: contain;
}

.saldo {
    color: white;
}

.btn-rcv {
    --border-radius: 25px;
}

h2 {
    color: white;
}

ion-card {
    --background: #0d0d21;
}

ion-card-title,
ion-card-content {
    color: white;
}

ion-item {
    --ion-background-color: #0d0d21;
}

ion-icon {
    color: white;
}

h3 {
    color: white;
    font-size: 20px;
}