<ion-app>

    <ion-menu side="start" menuId="first" contentId="principal">
        <ion-header>

            <img src="../assets/mau.jpg" alt="Perfil">

        </ion-header>
        <ion-content>
            <ion-button fill="clear" expand="full">
                Wallet
            </ion-button>

            <ion-button fill="clear" expand="full">
                Mi Targeta
            </ion-button>

            <ion-button fill="clear" expand="full">
                Historial de Transacciones
            </ion-button>

            <ion-button fill="clear" expand="full">
                Preferencias
            </ion-button>

            <ion-button fill="clear" expand="full">
                Ayuda
            </ion-button>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>