<ion-header>
    <ion-toolbar>
        <ion-title>Mi tarjeta Go!</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="card">
        <img src="../../assets/img/cardCGpers.png" alt="">
    </div>

    <div class="lema">
        <p class="lemaTarjeta">Tu tarjeta todo en uno, usala tu manera y como tu quieras</p>
        <div class="lista">
            <ion-item lines="none">
                <ion-icon name="airplane-outline" slot="start"></ion-icon>
                <ion-label>
                    <h3>Debito</h3>
                </ion-label>
                <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-icon name="airplane-outline" slot="start"></ion-icon>
                <ion-label>
                    <h3>Credito</h3>
                </ion-label>
                <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-icon name="airplane-outline" slot="start"></ion-icon>
                <ion-label>
                    <h3>Lealtad</h3>
                </ion-label>
                <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none">
                <ion-icon name="airplane-outline" slot="start"></ion-icon>
                <ion-label>
                    <h3>Inversion</h3>
                </ion-label>
                <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
            </ion-item>
        </div>
    </div>

</ion-content>