<ion-content class="ion-padding">


    <div class="logotipos">
        <img class="cg" src="../../assets/logo/cg.png" alt="Logotipo de credigo">
        <img class="CrediGo" src="../../assets/logo/CrediGo.png" alt="">
        <p class="desc-p">
            Tus finanzas a tu manera , invierte y has crecer tu dinero
        </p>
    </div>

    <div class="btns">
        <ion-button routerLink="/wallet" color="btniniciar" expand="block">Iniciar sesion</ion-button>
        <ion-button expand="block">Contacto</ion-button>
    </div>

</ion-content>